h2 {
    border-right: solid 5px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
    font-size: 28px;
    color: rgba(146, 199, 230, 0.7);
  }
  
  /* Animation */
  h2 {
    animation: animated-text 5s linear 1s 1 normal both,
      animated-cursor 1999999999999999s linear infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 1256px;
    }
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor {
    from {
      border-right-color: rgba(108, 155, 209, 0.75);
    }
    to {
      border-right-color: currentColor;
    }
  }


body{
    background-color: rgb(36, 98, 21;
}
#initialBoard {
    float: left;
    margin-left: 20%;
    margin-top: 10%;
}

#answerBoard {
    margin-right: 20%;
    float: right;
    margin-top: 10%;
}
p{
    font-size: 20px;
}
input{
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
button{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5%;
}

.author{
    font-size: 17px;
}
